# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [47]:
data = {'國家': list(range(0,5)) ,
        '人口': np.random.randn(5) }
data = pd.DataFrame(data)

In [48]:
np.random.rand(10)

array([0.81987846, 0.99123312, 0.50924909, 0.08449392, 0.87020719,
       0.18347115, 0.76069901, 0.50882052, 0.39149105, 0.40740643])

In [49]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [50]:
np.random.randn(5)

array([-1.97391431, -0.46262203, -0.26615197,  1.21070898, -0.94567272])

In [51]:
data

   國家        人口
0   0 -1.540354
1   1 -0.383315
2   2  1.322497
3   3 -0.224703
4   4 -1.408179

In [52]:
data.loc[data['人口'].idxmax()]

國家    2.000000
人口    1.322497
Name: 2, dtype: float64